<!--top-banner-->
<section class="home-banner">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 col-md-12">
                <div class="banner-content">
                    <span class="empower-text">Empower Your ideas with </span>
                    <h1 class="heading1 text-white">APP<span id="target">Carpenter</span></h1>
                    <p>Crafting Digital Solutions for Your Business</p>
                    <a class=" theme-btn primary-btn" routerLink="/">
                        Let’s Get Started
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--top-banner-end-->
<!--about-banner-->
<section class="aboutUs section-p bg-gradient-cmn">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="section-head text-center">
                    <span class="text-white">About AppCarpenter</span>
                    <h2 class="text-white"> We specialize in building customized digital solutions that amplify your
                        business presence and streamline your operations.</h2>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-2">
                <div class="service-list">
                    <span>
                        <img src="assets/images/website-develop.svg">
                    </span>
                    <h4 class="heading4 text-white"> Website
                        Developmet</h4>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="service-list">
                    <span>
                        <img src="assets/images/mobile-app-dev.svg">
                    </span>
                    <h4 class="heading4 text-white"> Mobile app Development</h4>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="service-list">
                    <span>
                        <img src="assets/images/ui-design.svg">
                    </span>
                    <h4 class="heading4 text-white"> UI/UX Design</h4>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="service-list">
                    <span>
                        <img src="assets/images/ai.svg">
                    </span>
                    <h4 class="heading4 text-white"> AI/ML</h4>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="service-list">
                    <span>
                        <img src="assets/images/cloud-comp.svg">
                    </span>
                    <h4 class="heading4 text-white"> Cloud
                        Computing</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about-banner-end-->
<!---services-->
<section class="services-main section-p ">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 me-auto">
                <div class="section-head ">
                    <span class="">Our Services</span>
                    <h2 class=""> At AppCarpenter, we offer a comprehensive suite of services tailored to meet your
                        digital needs:</h2>
                </div>

            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-lg-3">
                <div class="service-box">
                    <span>
                        <img src="assets/images/mobile-app-icon.svg" alt="icon">

                    </span>
                    <h3 class="heading3"> Mobile app <br>
                        development</h3>
                    <p class="common-p">Build intuitive mobile apps for iOS and Android platforms that engage your
                        audience and drive user retention.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-box">
                    <span>
                        <img src="assets/images/website-icon.svg" alt="icon">

                    </span>
                    <h3 class="heading3"> Website <br>
                        development</h3>
                    <p class="common-p">Craft responsive, visually stunning websites that leave a lasting impression on
                        your visitors.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-box">
                    <span>
                        <img src="assets/images/ui-icon.svg" alt="icon">

                    </span>
                    <h3 class="heading3"> UI/UX <br>Design</h3>
                    <p class="common-p">Elevate user experiences with sleek and intuitive designs that enhance usability
                        and delight your customers.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="service-box">
                    <span>
                        <img src="assets/images/ai-icon.svg" alt="icon">

                    </span>
                    <h3 class="heading3"> AI/ML<br>
                        development</h3>
                    <p class="common-p">Elevate user experiences with sleek and intuitive designs that enhance usability
                        and delight your customers.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--services--end-->
<!---why-choose-->
<section class="why-choose section-p bg-dark-color">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="choose-left">
                    <h2 class="text-white"><span class="fw-normal
                    ">Why</span> Choose AppCarpenter</h2>
                    <p class="lead text-white">When you partner with App Carpenter, you gain access to</p>
                    <a class=" theme-btn primary-btn  " aria-current="page" routerLink="/">Let’s Connect
                    </a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="choose-right text-center">
                    <h1>expertise</h1>
                    <p class="lead text-white">Our team comprises seasoned professionals with a wealth of experience in
                        their respective fields, ensuring top-notch solutions tailored to your unique requirements.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!---why-choose-end-->
<!---testimonals-->
<section class="testimonals section-p ">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 me-auto">
                <div class="section-head ">
                    <span class="">Client Testimonials</span>
                    <h2 class=""> Don't just take our word for it. Here's what our clients have to say about their
                        experience with AppCarpenter</h2>
                </div>

            </div>
        </div>
        <div class="row align-items-center mt-5">
            <div class="col-lg-4">
                <div class="testimonals-wrap">
                    <span class="client-img">
                        <img src="assets/images/user-img.png" alt="img">
                    </span>
                    <div class="quote-div">
                        <img src="assets/images/quote.svg" alt="img">
                    </div>
                    <p>Working with App Carpenter was a game-changer for our business. Their expertise and attention to
                        detail helped us achieve our goals faster than we ever imagined</p>
                    <div class="client-name">
                        <h4 class="heading4 mb-0">Johan Doe</h4>
                        <p>Lead engineer at app carpenter</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonals-wrap">
                    <span class="client-img">
                        <img src="assets/images/user-img.png" alt="img">
                    </span>
                    <div class="quote-div">
                        <img src="assets/images/quote.svg" alt="img">
                    </div>
                    <p>Working with App Carpenter was a game-changer for our business. Their expertise and attention to
                        detail helped us achieve our goals faster than we ever imagined</p>
                    <div class="client-name">
                        <h4 class="heading4 mb-0">Johan Doe</h4>
                        <p>Lead engineer at app carpenter</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonals-wrap">
                    <span class="client-img">
                        <img src="assets/images/user-img.png" alt="img">
                    </span>
                    <div class="quote-div">
                        <img src="assets/images/quote.svg" alt="img">
                    </div>
                    <p>Working with App Carpenter was a game-changer for our business. Their expertise and attention to
                        detail helped us achieve our goals faster than we ever imagined</p>
                    <div class="client-name">
                        <h4 class="heading4 mb-0">Johan Doe</h4>
                        <p>Lead engineer at app carpenter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--testimonals-end-->
<!--lets-setup-->
<section class="setUp-wrap section-p bg-gradient-cmn">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="section-head">
                    <span class="text-white">Let’s get you set up!</span>
                    <p class="lead text-white mt-3">Ready to transform your digital presence? Get in touch with us today
                        to discuss your project requirements and take the first step toward realizing your vision.</p>
                    <ul class="address-ul">
                        <li><span> <img src="assets/images/mobile-icon.svg" alt="img"></span>+91-9646185665</li>
                        <li><span> <img src="assets/images/mail-icon.svg" alt="img"></span>infoappcarpenter.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="project-form">
                    <form>
                        <div class="input-wrap">
                            <label for="exampleInputEmail1" class="form-label custom-label">Full Name*</label>
                            <input type="text" class="form-control custom-input" id="exampleInputEmail1">

                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-wrap">
                                    <label for="exampleInputEmail1" class="form-label custom-label">E-mail ID*</label>
                                    <input type="email" class="form-control custom-input" id="exampleInputEmail1">

                                </div>
                            </div>
                            <div class="col">
                                <div class="input-wrap">
                                    <label for="exampleInputEmail1" class="form-label custom-label">Mobile
                                        number</label>
                                    <input type="email" class="form-control custom-input" id="exampleInputEmail1">

                                </div>
                            </div>
                        </div>
                        <div class="input-wrap">
                            <label for="exampleInputEmail1" class="form-label custom-label">Describe your
                                project*</label>
                            <input type="text" class="form-control custom-input" id="exampleInputEmail1">
                        </div>
                        <div class="input-wrap file-input">
                            <label for="formFile" class="form-label"><span><svg width="7" height="7" viewBox="0 0 7 7"
                                        fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="3.61133" y1="-2.18557e-08" x2="3.61133" y2="7" stroke="#9D6A4A" />
                                        <line x1="7" y1="3.60938" y2="3.60938" stroke="#9D6A4A" />
                                    </svg>
                                </span>Attach your requirements</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="theme-btn primary-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--lets-setup-end-->
<!--contact-banner-->
<section class="why-choose section-p contact-banner">
    <div class="container">
        <h1 class="text-white text-center">Let’s get you set up!</h1>
        <div class="text-center">
            <a class=" theme-btn primary-btn  " aria-current="page" routerLink="/">Contact us
            </a>
        </div>
    </div>
</section>
<!--contact-banner-end-->